@import "../../styles/variables";

.embla {
    max-width: 48rem;
    margin: auto;
    --slide-height: 28rem;
    --slide-spacing: 0.5rem;
    --slide-size: 92%;
}
.embla__viewport {
    overflow: hidden;
}
.embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
}
.embla__slide__img {
    // border-radius: 1.8rem;
    display: block;
    height: var(--slide-height);
    width: 100%;
    object-fit: cover;
}
.carouselContainer {
    position: relative;
    width: 100%;
}

.categoryButtonsContainer {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 12px 8px;
    margin: 4px auto;
    gap: 8px;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
    scrollbar-width: none; /* Hide scrollbar for Firefox */

    &::-webkit-scrollbar {
        display: none; /* Hide scrollbar for Chrome/Safari */
    }
}

.categoryButton {
    border-radius: 4px;
    background: none;
    position: relative;
    cursor: pointer;
    border: none;
}

.categoryOverlay {
    background-color: $color-bg-input;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    gap: 4px;
    color: white;
    text-align: center;
    border: 1px solid $color-border-primary;
}

/* Special styling for the "All Images" button */
.allImagesButton {
    .categoryOverlay {
        background-color: $color-bg-tertiary;
        color: $color-text-black;
        border: none;
    }
}

.categoryName {
    font-size: 12px;
    font-weight: 600;
    // margin-bottom: 2px;
    white-space: nowrap;
    // text-overflow: ellipsis;
    // overflow: hidden;
    // width: 100%;
}

.categoryCount {
    font-size: 10px;
    opacity: 0.8;
}
