$color-primary: #ffb401;
$color-bg-primary: #000000;
$color-bg-secondary: #ffffff10;
$color-border-primary: #ffffff15;
$color-text-primary: #ffffff;
$color-text-secondary: #ffffff60;

$font-family: "General Sans", sans-serif;
