@import "../../styles/variables";

.amenities {
    padding: 20px 0;
    background-color: #ffffff;
    color: #000000;

    h3 {
        font-size: 1.35rem;
        font-weight: 500;
        padding: 20px 20px;

        span {
            font-size: 1.05rem;
            display: inline-block;
            margin-left: 4px;
            // margin-right: 4px;
            // color: rgba(white, 0.6);
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
        margin-top: 20px;
        margin-left: 20px;
    }

    &__item {
        display: flex;
        align-items: center;
        width: 50%;
        color: #000000;
        margin-bottom: 10px;
        // margin-right: 10px;
        // gap: 10px;

        img {
            width: 20px;
            height: 20px;
        }

        p {
            padding: 0 10px;
        }
        span {
            font-size: 0.8rem;
            font-weight: 500;
            color: #000000;
            border: 1px solid rgba(0, 0, 0, 0.08);
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &__show-more {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 24px;
        padding-bottom: 8px;

        div {
            color: #000000;
        }
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .amenities {
        &__show-more {
            margin-top: 16px;

            button {
                width: 100%;
            }
        }
    }
}
