@import "../../styles/variables";

.policy {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;

    h3 {
        font-size: 1.25rem;
        font-weight: 500;
        padding-bottom: 20px;
    }

    &__list {
        font-weight: 500;
    }

    &__item {
        margin-bottom: 20px;
        font-size: 1rem;
        line-height: 1.5;
        display: flex;

        &-icon {
            display: flex;
            justify-content: flex-start;
            padding-right: 10px;
        }

        &-description {
            font-size: 0.8rem;

            h4 {
                font-weight: 600;
            }
            p {
                font-weight: 500;
            }
        }
    }
}
