@import "../../styles/variables";

.locations {
    // background: $color-bg-primary;
    display: flex;
    gap: 12px;
    width: 100vw;
    overflow-x: hidden; // Hide scrollbar and prevent manual scrolling
    padding: 0 20px;
    padding-top: 20px;
    padding-bottom: 0;
    position: relative;
    transition: all 0.3s ease-in-out;

    &:nth-child(2) {
        padding-bottom: 25px;
    }

    &__wrapper {
        display: flex;
        gap: 12px;
        min-width: max-content;
        animation: scroll 40s linear infinite; // Auto-scroll effect
    }

    &__image {
        border-radius: 12px;
        object-fit: cover;
    }

    &__scrolled {
        background-color: white;
    }
}

.locations2 {
    // margin-top: 24px;
    display: flex;
    background: $color-bg-tertiary;
    gap: 12px;
    width: 100vw;
    overflow-x: hidden; // Hide scrollbar and prevent manual scrolling
    padding: 12px 20px;
    // padding-bottom: 25px;
    position: relative;
    transition: all 0.3s ease-in-out;

    &__wrapper {
        display: flex;
        gap: 12px;
        min-width: max-content;
        animation: scroll 15s linear infinite reverse; // Auto-scroll effect
    }

    &__image {
        border-radius: 12px;
        object-fit: cover;
    }
}

// Define the marquee animation
@keyframes scroll {
    from {
        transform: translateX(-40px);
    }
    to {
        transform: translateX(calc(-50% - 32px));
    }
}
