@import "../../styles/variables.scss";

.footer {
    width: 100%;
    border-top: 1px solid $color-border-primary;
    grid-template-columns: repeat(5, 1fr);
    color: white;
    background-color: $color-bg-primary;
    padding: 0 4px;

    &__brand {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 0 6px;
        margin-bottom: 16px;
        border-bottom: 1px solid $color-border-primary;

        &--social {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;

            svg {
                width: 20px;
                height: 20px;
            }
        }
    }

    &__menu {
        display: grid;
        grid-template-columns: 40% auto auto;
        align-items: center;
        justify-items: center;
        font-size: 0.8rem;
        text-align: center;
        color: $color-text-muted;
        text-decoration: underline;
        text-decoration-style: dotted;
        text-decoration-color: rgba(white, 0.2);
        text-underline-offset: 4px;
    }

    &__copyright {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6px;
        margin-top: 16px;
        margin-bottom: 20px;
        font-size: 0.8rem;

        small {
            color: $color-text-muted;
        }
    }
}
