@import "../../styles/variables";

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    // width: 100%;
    // margin: 6px;

    background-color: $color-text-primary;
    color: $color-bg-primary;
    padding-left: 24px;
    padding-right: 24px;
    height: 40px;
    border-radius: 2000px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s;

    &--primary,
    &--razorpay {
        background-color: $color-primary;
        color: $color-text-black;

        &:hover {
            background-color: $color-primary;
            color: $color-bg-primary;
        }
    }

    &--secondary {
        background-color: $color-bg-secondary;
        color: $color-text-primary;
        border: 1px solid $color-border-primary;

        &:hover {
            background-color: $color-border-primary;
        }
    }

    &--outline {
        background-color: transparent;
        color: $color-text-black;
        border: 1px solid #ccc;
    }

    &--half-fill {
        background: linear-gradient(to right, $color-primary 50%, #fff4cd 50%);
    }

    &--sixtyfive-fill {
        background: linear-gradient(to right, $color-primary 65%, #fff4cd 35%);
    }

    &--large {
        padding: 26px 80px;
        font-size: 0.9rem;
        // height: 52px;
    }

    &--square {
        padding: 0 !important;
        width: 40px;
        height: 40px;
    }

    &--input {
        // background-color: $color-bg-secondary;
        background-color: #222222;
        color: $color-text-primary;
        justify-content: flex-start;
        gap: 16px;
        padding: 26px 16px;
        width: 100%;
        font-weight: 500;
    }

    &--whatsapp {
        background-color: $color-success;
        color: $color-text-primary;

        svg {
            stroke: $color-text-primary;
        }
    }
}
