@import "../../styles/variables";

.hero {
    text-align: center;
    // background: $color-bg-primary;
    padding: 10px 0 0 !important;
    margin-bottom: 40px !important;

    h1 {
        margin: 0;
        padding: 0;
        font-weight: 600;
        font-size: 1.6rem;

        span {
            color: $color-primary;
        }
    }

    p {
        color: $color-text-secondary;
        margin: 10px auto 24px;
    }
}
