@import "../../styles/variables";

.reviews {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    padding-top: 10px;

    h3 {
        font-size: 1.35rem;
        font-weight: 500;
        padding-bottom: 20px;
    }

    &__ratings {
        display: flex;
        margin-bottom: 40px;

        &-overall {
            // width: 30%;
            display: flex;
            flex-direction: column;
            padding-right: 20px;
            border-right: rgba($color-bg-primary, 0.4) 1px solid;

            h2 {
                font-size: 2.5rem;
                font-weight: 500;
                // padding-bottom: 10px;
            }
        }

        &-distribution {
            // width: 70%;
            display: flex;
            flex-direction: column;
            padding-left: 20px;

            &__item {
                display: flex;
                align-items: center;
                padding: 4px 0;

                img {
                }

                p {
                    font-size: 1rem;
                    font-weight: 500;
                    padding-left: 4px;
                }
            }

            &__bar {
                // width: 100px;
                // display: flex;
                height: 10px;
                background-color: rgba($color-bg-primary, 0.4);
                border-radius: 5px;
                margin-left: 10px;

                &-fill {
                    height: 100%;
                    background-color: $color-progress2;
                    border-radius: 5px;
                }
            }
        }
    }

    &__gallery {
        display: flex;
        gap: 16px;
        overflow: scroll;
        margin-bottom: 50px;

        -ms-overflow-style: none; /* Internet Explorer 10+ */
        scrollbar-width: none; /* Firefox */

        &::-webkit-scrollbar {
            display: none; /* Safari and Chrome */
        }

        &-card {
            display: flex;
            flex-direction: column;

            &-img {
                margin-bottom: 10px;
                height: 350px;
                width: auto;
            }

            &-rating {
                display: flex;
                margin-bottom: 4px;

                img {
                    padding-right: 2px;
                }
                span b {
                    font-size: 0.9rem;
                    font-weight: 600;
                }
            }

            &-reviewDate {
                display: flex;
                margin-bottom: 4px;

                img {
                    padding-right: 4px;
                }
            }

            &-location {
                display: flex;
                margin-bottom: 4px;

                img {
                    padding-right: 4px;
                }
            }
        }
    }

    &__comments {
        margin-bottom: 40px;

        &-title {
            display: flex;
            margin-bottom: 10px;

            &-img {
            }

            &-details {
                padding-left: 6px;
                display: flex;
                flex-direction: column;

                h4 {
                    font-weight: 600;
                    margin-bottom: 2px;
                    padding-left: 4px;

                    span {
                        font-weight: 400;
                        font-size: 0.7rem;
                        padding-left: 4px;
                        color: $color-text-tertiary;
                    }
                }

                &-rating {
                    display: flex;

                    img {
                        display: inline-block;
                        margin-right: -3px;
                    }
                }
            }
        }

        &-description {
            margin-bottom: 32px;
            p {
            }
        }
    }
}
