@import "../../../../styles/variables.scss";

.addons {
    background-color: $color-bg-primary;
    color: $color-text-primary;
    position: relative;

    &__header {
        // padding: 80px 20px 20px 40px;
        padding: 30px 20px 30px;

        h2 {
            font-size: 1.5rem;
            font-weight: 500;
            margin: 4px 0;
            text-align: center;

            span {
                color: $color-primary;
                padding-left: 4px;
                font-weight: 600;
            }
        }

        &--partner {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            // padding: 20px 20px 0 20px;
            // background-color: $color-bg-secondary;
            border-radius: 20px;
            margin-top: 10px;

            span {
                color: $color-text-tertiary;
            }

            img {
                width: 90px;
                height: auto;
                object-fit: cover;
            }
        }

        p {
            color: $color-text-tertiary;
            font-size: 0.9rem;
            font-weight: 400;
            text-align: center;

            span {
                padding: 0 4px;
            }
        }
    }

    &__listing {
        background-color: #fafafa;
        color: $color-text-black;
        border-radius: 24px 24px 0 0;
        position: relative;
        display: block;
        margin-top: 10px;
        padding: 44px 12px 20vh;

        h4 {
            font-weight: 600;
            font-size: 1rem;
            margin-bottom: 4px;
            text-align: center;
        }

        &--description {
            margin: 0 auto 30px;
            color: #6d6d6d;
            font-size: 0.9rem;
            font-weight: 400;
            text-align: center;
            max-width: 300px;
        }

        &::after {
            content: "";
            position: absolute;
            background: rgba(black, 0.1);
            border-radius: 24px;
            width: 80px;
            height: 6px;
            top: 20px;
            left: 50%;
            z-index: 2;
            transform: translateX(-50%);
        }

        &--row {
            display: grid;
            grid-template-columns: 20px auto;
            max-width: calc(100vw - 20px);
            // justify-content: center;
            align-items: center;
            gap: 8px;

            &-checkLabel {
                // padding: 4px 8px;

                /* Hide the default checkbox */
                input[type="checkbox"] {
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    width: 20px;
                    height: 20px;
                    border: 1px solid #aaa;
                    border-radius: 50%;
                    background-color: #fafafa;
                    position: relative;
                    cursor: pointer;
                    transition: all 0.3s ease;

                    &:focus-visible {
                        outline: none;
                    }
                }

                /* Creating the checkmark */
                input[type="checkbox"]::after {
                    content: "";
                    position: absolute;
                    left: calc((8px / 18px) * 8px) * 1.8;
                    top: 3px;
                    width: calc((8px / 18px) * 8px);
                    height: 8px;
                    border: solid #fff; /* Green checkmark */
                    border-width: 0 2px 2px 0;
                    transform: rotate(0);
                    opacity: 0;
                    transition: all 0.3s ease;
                    // display: none;
                }

                /* Show the checkmark when checked */
                input[type="checkbox"]:checked::after {
                    transform: rotate(45deg);
                    opacity: 1;
                }

                input[type="checkbox"]:checked {
                    background-color: $color-primary;
                    border-color: $color-primary;
                }
            }
        }

        &--item {
            display: flex;
            align-items: center;
            padding: 12px;
            margin-bottom: 12px;
            background-color: $color-bg-tertiary;
            border: 1px solid rgba(black, 0);
            box-shadow: 0 0 1px rgba(black, 0.1), 0 2px 8px rgba(black, 0.075);
            border-radius: 20px;
            // max-width: calc(100vw - 50px);

            // &:last-child {
            //     border-bottom: none;
            // }

            &--selected {
                // border: 1px solid #cfcfcf;
                // background-color: #f7f7f7;
                background-color: black;
                color: white;

                p {
                    color: rgba(white, 0.75) !important;
                }
            }

            &-image {
                height: 80px;
                width: 180px;
                object-fit: cover;
                border-radius: 8px;
            }

            &-details {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                padding-left: 12px;

                h2 {
                    font-size: 1rem;
                    font-weight: 500;
                    margin-bottom: 2px;
                    word-break: break-word;
                }

                h4 {
                    font-size: 0.8rem;
                    font-weight: 400;
                    margin-bottom: 6px;

                    span {
                        // color: $color-primary;
                        font-weight: 500;
                        // padding-left: 4px;
                    }
                }

                p {
                    font-size: 0.8rem;
                    font-weight: 400;
                }
            }
        }
    }

    &__fixed {
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 72px;
        background-color: $color-bg-primary;
        color: $color-text-primary;
        border-radius: 20px 20px 0 0;
        padding: 18px 5px 0px;
        z-index: 8;

        &--image {
            img {
                width: 80px;
                height: auto;
                object-fit: cover;
            }
        }

        &--details {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding-left: 10px;

            h4 {
                font-size: 0.8rem;
                font-weight: 500;
                margin-bottom: 6px;
            }

            p {
                font-size: 0.7rem;
                font-weight: 400;
                margin-bottom: 4px;
            }
        }
    }
}
